body {
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0;
  background-size: cover;
  color: #498928;
}
hr {
  border: 0px;
}
.boxxed {
  border-width: 10px;
  border: solid;
  border-color: darkgreen;
  background-color: #498928;
  margin: 10px;
  color: white;
  padding: 20px;
}
.resize {
  height: 325.5px;
  width: 360px;
}
footer {
  background-color: #498928;
  color: white;
}
.centered {
  margin: auto;
  width: 50%;
  background-color: #498928;
  padding: 10px;
}
a{
  color:white;
}
